.badge {
    inset:auto auto calc(100% - 4px) calc(100% - 4px) !important; 
  }

  .bar{
    background: 
    radial-gradient(103.2% 247.39% at 0% 6.82%, #0083CC 0%, #328DE1 39.49%, rgba(39, 26, 186, 0.7) 92.57%) 
  }

  .msbar{
    background: radial-gradient(100% 757.37% at 0% 11.36%,  #0ea5b0 30.25%, #00c8d7 100% );
  }

  .secondary{
    background: #F3F6FC;
  }

  .v-speed-dial--left {
    left: 320px !important;
}

.v-speed-dial--direction-top .v-speed-dial__list, .v-speed-dial--direction-bottom .v-speed-dial__list {
    left: -183px  !important;
    // width: 100%;
}

.speeddial{
  background: linear-gradient(139.27deg, #43DDE3 21.49%, #0C79DC 91.67%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);  
}


.alert{
  border:#A6BBCE 1px;
}

.menuIcon{
  width: 25px !important;
  filter: invert(32%) sepia(0%) saturate(100%) hue-rotate(336deg) brightness(0%) contrast(97%);
  margin-right: 3px;

}

.chatIcon{
  width: 25px !important;
  margin-right: 3px;
  filter: invert(32%) sepia(0%) saturate(100%) hue-rotate(336deg) brightness(0%) contrast(97%);
}

.profileIcon{
  width: 40px !important;
  // margin-right: 3px;
  box-shadow:none;background: transparent;
}

.filter{
  filter: invert(32%) sepia(0%) saturate(100%) hue-rotate(336deg) brightness(0%) contrast(97%);

}

.p0{
  padding: 0 !important;
}


.active{
  
  color: #0EA5B0;
}

.chatActive{
  color: #4E9EAC !important;
  width: 25px;
  
}

.bg{
  background-color: #fafafa;
}

.selfchat{
  background: #e4f0f4;
  // width: 100px;
  // height: 100px;
} 

.bgwhite{
 background: #fff;
}

